.socials {
  background-color: #000;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 60px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: clamp(32px, 10vw, 84px);
  font-weight: 800;
  text-transform: uppercase;
  line-height: 0.9;
  letter-spacing: -1px;
  margin-bottom: 60px;
}

.ampersand {
  color: rgba(255, 255, 255, 0.3);
  font-weight: 400;
}

.linksGrid {
  display: grid;
  /* 2x2 на мобілці */
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.socialLink {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-decoration: none;
  color: #fff;
  transition: all 0.5s ease-in-out;

  &:hover {
    background-color: #f2d244;
    color: #000;
    transform: translateY(-15px);
  }
}

.iconWrapper {
  font-size: 32px;
  margin-bottom: 15px;
  color: #f2d244;
  transition: all 0.3s ease-in-out;
}

.socialLink:hover .iconWrapper {
  color: #000;
  transform: translateX(10px);
}

.decorIcon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -20px;
  left: -20px;
  color: white;
}

.linkText {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.imageBack {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 40px;
  margin-inline: auto;
  filter: grayscale(100%) contrast(1.2) brightness(0.9);
}

@media (min-width: 1000px) {
  .imageBack {
    margin-top: 60px;
  }

  .socials {
    padding-top: 150px;
    padding-left: 8%;
    padding-right: 8%;
  }

  .linksGrid {
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
  }

  .socialLink {
    border: 0.5px solid rgba(255, 255, 255, 0.1);
    height: 200px;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
  }
}
