.main {
  background: linear-gradient(180deg, #18191b 30%, #000000 100%);
  min-height: 100vh;
  padding: 140px 20px 80px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.title {
  font-size: 42px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 60px;
  letter-spacing: 1px;
  position: relative;
  display: inline-block;
  color: #bcbcbc;
}

.title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 60px;
  height: 3px;
  background-color: #756e44;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-top: 40px;
}

.info {
  flex: 1;
}

.text {
  font-size: 16px;
  font-weight: 300;
  opacity: 0.8;
  margin-bottom: 50px;
  line-height: 1.8;
  max-width: 450px;
  color: #bcbcbc;
}

.contactList {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  font-weight: 400;
  color: #bcbcbc;
  text-decoration: none;
  transition:
    color 0.25s ease,
    transform 0.25s ease,
    opacity 0.25s ease;

  &:hover {
    opacity: 1;
    color: #fff;
    transform: translateY(-3px);
  }
}

.icon {
  font-size: 20px;
  color: #756e44;
}

.form {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.inputGroup label {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  opacity: 0.4;
  letter-spacing: 2px;
}

.inputGroup input,
.inputGroup textarea {
  background: transparent;
  border: none;
  border-bottom: 1px solid #bcbcbc;
  padding: 12px 0;
  color: #bcbcbc;
  outline: none;
  transition: border-color 0.3s;
  font-size: 16px;
  font-weight: 300;
}

.inputGroup input:focus,
.inputGroup textarea:focus {
  border-bottom-color: #fff;
}

.inputForm::placeholder {
  color: #756e44;
}

.button {
  background: transparent;
  color: #bcbcbc;
  border: 1px solid #bcbcbc;
  padding: 15px 40px;
  width: fit-content;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 20px;

  &:hover {
    background: #756e44;
    color: #fff;
    border: 1px solid #756e44;
  }
}

@media (min-width: 1000px) {
  .grid {
    flex-direction: row;
    justify-content: space-between;
  }
}
